.skills .progress-bar {
    background-color: #d5bdaf;
}

.facts .count-box i {
    background-color: #d5bdaf;
}

.section-title h2::after {
    background-color: #d5bdaf;
    border-radius: 5px;
}

.nav-menu a, .nav-menu a:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color:  #d5bdaf; */
}

.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover>a {
    background-color:  #d5bdaf; 
}

.mobile-nav-active .mobile-nav-toggle {
    background-color: #d5bdaf;
}

#hero p span {
    color: #0081a7;
}

.round {
    border-radius: 50px;
}

.bi-chevron-right {
    color: #d5bdaf !important;
}

.resume .resume-item h4 {
    color: #d5bdaf !important;
}

.resume .resume-item::before {
    color: #d5bdaf !important;
}

.about .content h3 {
    color: #d5bdaf;
}

.img-fluid {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.back-to-top {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back-to-top:hover {
    color: #d5bdaf;
}